
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg">
      <div class="container-fluid">
        <a class="navbar-brand" href="" routerLink="/"><span class="title">Aryan Automation</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/"><span class="a_color">Contact</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page"  routerLink="/facilities"><span class="a_color">About us </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/school/1"><span class="a_color">Videos </span></a>
            </li>
     
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="a_color">Proucts</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li style="cursor: pointer;"> <span class="dropdown-item">Product 1 </span></li>
                <li  style="cursor: pointer;"> <span class="dropdown-item">Product 2 </span></li>
              </ul>
            </li>
          </ul>

          
        </div>
      </div>
    </nav>
  </div>
  <div id="carouselExampleControls" class="carousel slide d-none d-sm-block" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/mainCarouselImages/download.png" class="d-block w-100 img-fluid" alt="1" >
      </div>
      <div class="carousel-item">
        <img src="../../../assets/mainCarouselImages/no_image.png" class="d-block w-100 img-fluid" alt="2">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/mainCarouselImages/sih.png" class="d-block w-100 img-fluid" alt="3" >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  